:root {
  --color-black: #252525;
  --color-ligh-green: #7fad39;
  --color-gray: #6f6f6f;
  --color-white: #ffffff;

  --border-color: 1px solid #ebebeb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background: var(--color-white);
}

/* *:focus {
  box-shadow: 0 0 0 4px #a2d850;
} */

/* besic class */
a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hero-banner {
  background-image: url(/asset/img/hero/banner.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.width-100 {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.align-item {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.text-align {
  text-align: center;
}

.d-grid {
  display: grid;
}

.justify-content-space {
  justify-content: space-between;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.padding-left-right-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-left-right-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-left-right-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.padding-top-bottom-6 {
  padding-bottom: 6px;
  padding-top: 6px;
}
.padding-top-bottom-8 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.padding-top-bottom-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.border-left-right-bottom {
  border-left: var(--border-color);
  border-bottom: var(--border-color);
  border-right: var(--border-color);
}
