/* color */
:root {
  --color-black: #252525;
  --color-ligh-green: #7fad39;
  --color-gray: #6f6f6f;
  --color-white: #ffffff;
  --color-light-gray: #b2b2b2;
  --icon-background: #f5f5f5;
  --color-ligh-white: #f3f6fa;

  --border-color: 1px solid #ebebeb;
}

/* minimum width 576px */
@media (min-width: 36em) {
  .header {
    padding: 0 1rem;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .container1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .categories-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .carousel-col-1,
  .carousel-col-2,
  .carousel-col-3,
  .carousel-col-4,
  .carousel-col-5 {
    display: block;
  }

  .carousel-box {
    flex-shrink: 0;
    padding: 0 1rem;
    width: 240px;
  }

  .carousel-box:first-child {
    padding-left: 0;
  }

  .carousel-box:last-child {
    padding-right: 0;
  }

  .categories {
    flex-shrink: 0;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow-x: auto;
  }

  .featured-container {
    padding: 0 2rem;
  }

  .featured-filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .banner-container {
    padding: 0 2rem;
    flex-direction: row;
    gap: 2rem;
  }

  .blog-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .blog-item {
    padding: 0 1rem;
  }

  .blog-box {
    flex-basis: 50%;
  }

  .footer-container {
    padding: 0 2rem;
  }
  .address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .social {
    grid-column: 1 / -1;
  }
}

/* minimum width  */
@media (min-width: 48em) {
  .header {
    padding: 0 1.5rem;
  }

  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .container1 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .categories-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
  }

  .carousel-button {
    margin-top: 0;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
  }

  .carousel-box {
    width: 208px;
  }
  .carousel-button button {
    background: var(--color-white);
  }

  .search-ber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .search {
    width: 70%;
  }

  .search-filter {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    border: var(--border-color);
    border-right: 0;
    height: 47px;
    padding-left: 5px;
  }

  .search-filter p {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .down_arrow {
    width: 1rem;
    height: 1rem;
    fill: var(--color-black);
    margin-right: 3px;
  }

  .search button {
    width: 120px;
  }

  .contacts {
    justify-content: right;
    gap: 0.8rem;
  }

  .featured-container {
    padding: 0 2.5rem;
  }

  .featured-filter {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-box {
    flex-basis: 33.33%;
  }

  .blog-item-text ul li {
    margin-right: 18px;
  }

  .highligh {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .banner-container {
    padding: 0 2.5rem;
  }

  .footer-container {
    padding: 0 2.5rem;
  }
}

/* minimun width 992px */
@media (min-width: 62em) {
  .header {
    padding: 0;
  }

  .header-top {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .header-top-container {
    display: block;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-main-contact {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .header-mail {
    padding: 0 1.5rem;
    border-right: 1px solid #6f6f6f;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .mail-icon {
    width: 1rem;
    height: 1rem;
    fill: #1c1c1c;
  }

  .header-mail a {
    color: #1c1c1c;
    font-size: 1rem;
  }
  .popup-news {
    padding: 0 1rem 0 1.5rem;
  }

  .header-social {
    display: flex;
  }
  .header-social .youtube {
    margin-right: 1rem;
  }

  .header-social .facebook a,
  .header-social .instagram a,
  .header-social .twitter a,
  .header-social .youtube a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .container1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .categories-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer-container,
  .banner-container,
  .featured-container {
    padding: 0 1.5rem;
  }

  .header-top {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    height: 80px;
    max-width: 960px;
    padding: 0 30px;
  }

  .col-top-middle {
    display: block;
  }
  .menu {
    display: none;
  }

  .nav {
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list li {
    margin-right: 45px;
  }

  .nav-list li a:link,
  .nav-list li a:visited {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    padding: 5px 0;
    color: #252525;
    transition: all 0.3s;
    letter-spacing: 2px;
  }

  .nav-list li a:hover,
  .nav-list li a:active {
    color: #7fad39;
  }

  .col-top-1 {
    padding-right: 10px;
  }
  .col-top-1,
  .col-top-2 {
    width: 200px;
  }

  .col-top-2 {
    justify-content: right;
  }

  .hero-categories {
    width: 165px;
    padding: 10px 25px 10px 20px;
  }

  .hero-categories .bi-list {
    margin-left: 0;
    height: 1rem;
  }

  .container {
    max-width: 960px;
    display: flex;
    /* justify-content: space-between; */
    justify-self: center;
    padding: 0 30px;
    margin-bottom: 2rem;
  }
  .contacts {
    margin: 0;
    height: 50px;
  }

  .hero-categories span {
    /* margin-right: 10px; */
    font-size: 1rem;
  }

  .bi-chevron-down {
    margin-right: 0;
  }

  .col-banner {
    width: 678px;
    margin-left: auto;
    margin-left: 40px;
  }

  .col-category {
    /* margin-right: 40px; */
  }

  .search-ber {
    margin-bottom: 1.5rem;
  }

  .categories-list {
    display: block;
    padding-left: 30px;
  }

  .categories-list li:first-child {
    padding-top: 0.5rem;
  }

  .categories-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .carousel-button {
    width: 98%;
  }
  .carousel-button button {
    height: 60px;
  }
  .carousel {
    overflow-x: hidden;
  }

  .featured-filter {
    grid-template-columns: repeat(4, 1fr);
  }

  .address {
    grid-template-columns: repeat(3, 1fr);
  }
  .social {
    grid-column: 3 / -1;
  }
  .footer-copy-right {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .payment-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
